@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

html { 
  overflow:  hidden; 
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.time {
  position: absolute;
  left: 50%;
  top: 4%;
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  font-family: 'Texturina';
  text-shadow: 0 0 10px red;
  font-size: 15px;
  text-align: center;
  transition: color .3s ease-in-out;
}

.section {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  left: 52%;
  top: 49%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-family: 'Texturina';
  font-size: 2vw;
  color: white;
  text-shadow: 0px 0px 10px red;
  letter-spacing: 4.1vw;
  text-align: center;
  text-transform: uppercase;
}

.links {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Texturina';
  text-shadow: 0 0 10px red;
  font-size: 15px;
  color: #6b0000;
  transition: color .3s ease-in-out;
}

.text-hover {
  transition: color .2s ease-in-out, text-shadow .3s ease-in-out;
}
.text-hover:hover {
  text-shadow: 0 0 0px #6b0000;
  color: #6b0000;
}

.clean-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.curtain {
  position: absolute;
  top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  background: -webkit-linear-gradient(top, #6b0000, black);
}